/* Gives header the grey background */
.header {
    overflow: hidden;
    background-color: #eeeeee;
    padding: 20px 10px;
    border-bottom: #070707;
}

/* style header links*/
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* styles name */
.header a.name {
    font-size: 25px;
    font-weight: bold;
    background: #070707;
    color: white;
}

/* change background color on mouse-over */
.header a:hover {
    background-color: red;
    color: black;
}

/* float the link section to the right */
.header-right{
    float: right;
}

.portfolio {
    float: right;
    padding: 5px 5px 5px 5px;
}

.contact {
    float: right;
    padding: 5px 5px 5px 5px;
}

p   {
    color: #777777;
    line-height: 2.0;
    font-family: 'Arial' , 'Helvetica Neue' , Helvetica, sans-serif;
}


.about-me {
    color: #070707;
    border-bottom: 2px solid gray;
}

.portfolio-heading {
    color: #070707;
    border-bottom: 2px solid gray;
}

.headshot {
    height: 155px;
    width: 155px;
    float: left;
    padding: 10px 10px 5px 10px;
    left: 0px;
    margin-right: 10px;
}

.p-1 {
    float: right;
    padding: 10px 10px 10px 10px;
    margin-bottom: 50px;
}

.p {
    font-family: 'Arial' , 'Helvetica Neue' , Arial, Helvetica, sans-serif;
}

/* add background color to form */
.container {
    border-radius: 5px;
    background: url(https://image.ibb.co/d5PrbT/what_the_hex_dark.png);
    padding: 20px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact-me {
    color: #070707;
    border-bottom: 2px solid gray;
}

#box {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: red;
}

#projects {
    position: center;
    height: 200px;
    width: 200px;
}

#project-bio {
    float: right;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #eeeeee;
    text-align: center;
    float: left;
    height: 20px;
    border-radius: 4px;
}

#copyright {
    font-size: 14px;
    text-align: center;
    position: top;
}